<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About US</title>
</head>
<body>
<div class="container" style="text-align: center">
    {% include 'navigation.html' %}
        <h1>About our website</h1>
        <p>Founded in [year] in Lucknow, we started with a simple vision: [initial goal]. Over the years, we've grown to become [brief description of current status]. We value [key company values] in everything we do.</p>
        <button>Contact US</button>

    </div>
</body>
</html>