<html lang="en">
    <head>
        <title>{{title}}</title>
        <style>
            .main{
                width: 2000px;
                background-color: blue;
                color: white;
                padding: 30px;
                font-size: 40px;
            }
        </style>
    </head>
    <body>
<!--        <div class = "main">{{body}}</div>-->
        <div>{{form}}</div>
<!--        {% for n in array%}-->
<!--        <div>{{forloop.first}} {{n}}</div>-->
<!--        {% endfor %}-->

<!--        <table border="1" cellpadding="10">-->
<!--            <tr>-->
<!--                <th>Number</th>-->
<!--                <th>Option Number</th>-->
<!--            </tr>-->
<!--            {% for d in array %}-->
<!--            <tr>-->
<!--                <td>{{d.1}}</td>-->
<!--                <td>{{d.2}}</td>-->
<!--            </tr>-->
<!--            {% endfor %}-->
<!--        </table>-->
<!--        {% if numbers|length > 0%}-->
<!--            {% for i in numbers%}-->
<!--                {% if i > 3 %}-->
<!--                    <div>{{i}}</div>-->
<!--                {% endif %}-->
<!--            {% endfor %}-->
<!--        {% else %}-->
<!--            NO DATA IN THE LIST-->
<!--        {% endif %}-->
    </body>
</html>